/*===================================================================================*/


/*	CUSTOM CSS STYLES
/*===================================================================================*/


/* Insert your own styles in here! */

.grey {
    background: rgba(112, 128, 144, 0.3);
}

.dgrey {
    background: rgba(124, 173, 221, 0.5);
}

.white-text {
    color: white;
}

.grey-text {
    color: silver;
}

.black-text {
    color: black;
}

.blue-background {
    background-image: url("/assets/images/art/pattern-background02.png");
    color: white;
}

#owl-main .item {
    height: 60vh;
}

#owl-main .caption.text-center {
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.more-info {
    background-image: url("/assets/images/formula1a.jpg");
    color: white;
    text-align: center;
}

#triangle {
    position: absolute;
    z-index: 1;
    top: 0;
}

section#hero .video-container-custom {
    padding-bottom: 0;
}

@media only screen and (min-width: 855px) {
    section#hero .video-container-custom {
        padding-bottom: 41.686%;
    }
}

section#hero .overlay {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    left: 0;
    right: 0;
    height: 100%;
}

section#hero .overlay iframe {
    width: 100%;
}

video {
    width: 100%;
}

section.sub-hero {
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    background-image: url('/assets/images/home-carbon-fiberBLACK.jpg');
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

@media(max-width:980px) {
    section.sub-hero {
        flex-direction: column;
    }
}

section.sub-hero>div:nth-child(2) {
    width: 200px;
    display: flex;
    justify-content: center;
}

footer .miusa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

footer .miusa>div:first-child {
    margin-right: 10px;
    padding-top: 5px;
}

.about-hero {
    background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/assets/images/About-CreamCity.jpg");
    background-size: cover;
    padding: 100px 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.why-hero {
    background-image: url("/assets/images/why-cream-city-composites-bg.jpg");
    background-size: cover;
    padding: 100px 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.partners-hero {
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/assets/images/Partners-background.jpg");
    background-size: cover;
    padding: 100px 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

#contact-form label.form-check-label {
    float: none;
    width: auto;
    padding-top: 0;
    font-size: 18px;
    display: inline-block;
    clear: none;
}

#contact-form input.form-check-input {
    width: auto;
}

#response div.main {
    height: 100%;
    width: 100%;
}

#response #back-link {
    display: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    padding-top: 50px;
    max-width: 960px;
    margin: 0 auto;
}

figure.item {
    overflow: hidden;
    margin: 0;
    position: relative;
    padding: 0;
    cursor: pointer;
}

figure.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform ease-out .2s;
    transform: scale(1);
}

figure.item figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all ease-out .3s;
    padding: 0;
}

figure.item:hover img {
    transform: scale(1.2);
}

figure.item:hover figcaption {
    opacity: 0;
}

section.features {
    display: flex;
    flex-wrap: wrap;
    background: black;
    justify-content: center;
}

section.features>div {
    width: 12.5%;
    min-width: 115px;
    height: 140px;
    color: silver;
    background: black;
    padding: 20px 10px;
    border: solid #555 1px;
}

section.features>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section.features>div:first-child {
    background: black;
}

section.features>div:nth-child(2) {
    background: black;
}

li.item {
    height: 200px;
    background: white;
    padding: 10px;
}

li.item figure>div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.item img {
    width: 60%;
    margin: auto;
    display: flex;
    align-self: center;
    transition: width .5s ease-out;
}

li.item:hover img {
    width: 80%;
}